@import url(/src/shop_detail.css);
@import url(/src/indicator.css);
@import url(/src/modal.css);

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: inline;
    flex: 1;
}

.hidden {
    display: none !important;
}

.content {
    user-select: none;
}

#map {
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(100% - 380px);
}

.map-layout {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

#list {
    position: absolute;
    right: 0;
    width: 380px;
    height: 100%;
    box-shadow: -1px 0px 10px grey;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.shop-list {
    width: 100%;
    height: calc(100% - 40px);
    overflow: scroll;
    background: #e9dfcc;
    z-index: 1;
    position: absolute;
    top: 40px;
    transition: 0.3s;
}

.shop {
    width: 100%;
    height: 130px;
    background: white;
    margin: 0 auto 0;
    position: relative;
    border-bottom: solid 1px #d1caba;
}

.shop-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #2abfba;
    z-index: 20;
}

.shop-layer.selected-shop {
    background-color: #c6d3e4;
    opacity: 0.4;
}

.shop-image-wrapper {
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    padding-top: 20px;
    margin-left: 10px;
}

.shop-abstract-wrapper {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-abstract-wrapper > .shop-distance {
    position: absolute;
    right: 5px;
    color: darkgrey;
    font-size: 15px;
}

.shop-abstract-wrapper > h2 {
    font-size: 110%;
    margin: 15px 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-image-wrapper > img {
    z-index: 0;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 50%;
    border: 1px #ddd solid;
}

.shop-rating {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 14px;
}

.img-star {
    display: block;
    background: url("../static/img-star.png") no-repeat;
    width: 83px;
    height: 14px;
    background-size: 83px 28px;
}

.star-rate {
    display: block;
    line-height: 0;
    float: left;
}

.inner-star-rate {
    float: left;
    display: block;
    background-position: 0 100%;
}

.shop-address {
    margin: 5px 0 0px;
    color: darkgrey;
    font-weight: 200;
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-review > span {
    font-size: 90%;
    color: #797979;
    margin-right: 5px;
}

.filter-controller {
    position: absolute;
    bottom: calc(100% - 40px);
    right: 0;
    width: 380px;
    height: calc(100% + 40px);
    background: white;
    text-align: center;
    z-index: 50;
    transition: 0.3s;
    overflow: hidden;
}

.filter-controller ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.filter-controller li {
    list-style: none;
    display: inline-block;
}

.filter-controller hr {
    width: 80%;
    border-color: #f4f4f4;
}

.filter-controller.show {
    transform: translateY(calc(100% - 40px));
    height: 100%;
}

.filter-content {
    height: 100vh;
    overflow: scroll;
}

.filter-button-and-setting-wrapper {
    position: absolute;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #ebebeb;
}

.filter-current-setting {
    position: absolute;
    left: 0;
    height: 40px;
    width: 75%;
    text-align: left;
}

.filter-current-setting-text {
    line-height: 40px;
    margin-left: 15px;
    width: calc(100% - 15px);
    text-overflow: ellipsis;
    font-size: 15px;
}

.filter-button-wrapper {
    margin: 0 0 0 0;
    position: absolute;
    right: 0;
    height: 39px;
    width: 25%;
    cursor: pointer;
    vertical-align: middle;
    background-color: #2ac1bc;
    text-align: center;
}

.filter-button-wrapper > h1 {
    float: left;
    margin: 9px 0 0 20px;
}

.filter-button-wrapper > img {
    height: 30px;
    margin: 5px 12px;
    padding: 5px;
    float: right;
}

.filter-title {
    margin: 0 0 0 0;
    position: absolute;
    left: 35%;
    right: 35%;
}

.category-list {
    text-align: center;
}

.category {
    border-style: solid;
    border-width: 1px;
    border-color: #acacac;
    background-color: none;
    color: #acacac;
    padding: 3px 11px 3px 11px;
    margin: 0 2px 10px 2px;
    vertical-align: middle;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.category-list > li.selected {
    background-color: #2ac1bc;
    border-color: #2ac1bc;
    color: white;
}

.layer {
    position: absolute;
    width: calc(100% - 380px);
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 0;
    opacity: 0.4;
    transition: 0.3s;
}

div.layer.show {
    z-index: 5;
}

.filter-title-bar {
    margin-bottom: 50px;
    padding: 20px 0 10px 0;
    position: relative;
}

.inner-filter-button {
    position: absolute;
    cursor: pointer;
}

.cancel-filter-button {
    left: 15px;
    font-weight: 500;
}

.apply-filter-button {
    right: 15px;
    color: #2ac1bc;
    font-weight: 500;
}

.category-filter-wrapper {
    margin: auto auto 35px auto;
    width: 90%;
}

.sort-option-wrapper {
    color: #acacac;
    font-size: 18px;
}

.sort-option {
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 22px;
}

.sort-option-list > li.selected {
    color: #2ac1bc;
}

.check-img {
    width: 17px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    visibility: hidden;
}

.sort-option-list > .selected > img {
    visibility: visible;
}

.distance-option-wrapper {
    color: #acacac;
    font-size: 18px;
}

.distance-option {
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 22px;
}

.distance-option-list > li.selected {
    color: #2ac1bc;
}

.check-img {
    width: 17px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    visibility: hidden;
}

.distance-option-list > .selected > img {
    visibility: visible;
}

.section-label {
    color: #acacac;
    font-size: 18px;
    margin-bottom: 20px;
}

.line {
    height: 1px;
    width: 90%;
    background-color: #f4f4f4;
    display: block;
    text-align: center;
    margin: 10px auto 35px auto;
}

.mobile-visible {
    display: none;
}

.floating-button {
    z-index: 20;
    position: fixed;
    left: calc(50% - 88px);
    bottom: 40px;
    width: 233px;
}

.floating-button > div {
    display: inline-block;
    float: left;
}

.floating-button > img {
    float: left;
}

#flipList {
    display: none;
}

#flipList + .floating-button > label > div {
    float: left;
    width: 87px;
    height: 48px;
    background-image: url("../static/mapBtn.png");
    background-size: 87px 48px;
}

#flipList:checked + .floating-button > label > div {
    float: left;
    width: 87px;
    height: 48px;
    background-image: url("../static/listBtn.png");
    background-size: 87px 48px;
}

#filterOnOff > img {
    width: 89px;
    height: 48px;
}

#listOnOff > img {
    width: 87px;
    height: 48px;
}

.my-location {
    width: 50px;
    height: 50px;
    position: absolute !important;
    background: url("../static/currentSearch.png");
    background-size: 50px 50px;
}

.move-top-scroll-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #acacac;
    opacity: 0.4;
    z-index: 0;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.move-top-scroll-button.show {
    z-index: 2;
}

.no-shop-notification {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    background-color: white;
    z-index: 0;
}

.no-shop-notification.show {
    z-index: 2;
}

.no-shop-notification > img {
    margin-top: 50%;
    width: 50%;
}

img.no-shop-logo {
    width: 100vh;
    height: auto;
}

@media (min-width: 480px) {
    .shop-link-btn:hover {
        cursor: pointer;
    }

    .my-location {
        right: 400px;
        top: 10px;
    }

    .shop:hover .shop-layer {
        opacity: 0.1;
        cursor: pointer;
    }

    .shop-layer.selected-shop:hover {
        background-color: #c6d3e4;
        opacity: 0.5;
    }

    .category:hover {
        border-color: #a0efec;
        color: #a0efec;
    }

    .category-list > li.selected:hover {
        background-color: #a0efec;
        border-color: #a0efec;
        color: white;
    }

    .sort-option-list > li.sort-option:hover {
        color: #a0efec;
    }

    .distance-option-list > li.distance-option:hover {
        color: #a0efec;
    }

    .duplicate-list-notification {
        background-color: rgb(42, 42, 42);
        height: 40px;
        width: 100%;
        margin: 0 0 0 0;
        font-size: 13px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
    }

    .duplicate-list-notification > span {
        line-height: 40px;
        color: #969696;
        text-overflow: ellipsis;
    }

    .duplicate-list-notification > span > span {
        color: lightgray;
    }

    .no-shop-notification {
        top: 40px;
    }
}

@media (max-width: 480px) {
    .mobile-hidden {
        display: none;
    }

    .mobile-visible {
        display: inherit;
    }

    .content {
        width: 100%;
        height: 100%;
    }

    #list {
        width: 100%;
        height: 100%;
        top: 0;
    }

    #list.show {
        z-index: 0;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    .map-layout {
        width: 100%;
        height: 100%;
    }

    .shop-list {
        height: 100%;
        background-color: white;
        top: 0;
    }

    .filter-controller {
        position: absolute;
        bottom: calc(100%);
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        text-align: center;
        z-index: 50;
        transition: 0.3s;
        overflow: hidden;
    }

    .filter-controller.hidden {
        z-index: 0;
    }

    .filter-controller.show {
        transform: translateY(calc(100%));
    }

    #shopList {
        -webkit-overflow-scrolling: touch;
    }

    .filter-content {
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    #pac-input {
        margin: 10px 10px;
        width: calc(100% - 20px);
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #card {
        display: none;
        background-color: white;
        position: fixed;
        bottom: 0;
        z-index: 20;
        width: 100%;
        height: 130px;
        white-space: nowrap;
    }

    #card > div > .shop:nth-last-child(1) > img {
        display: none;
    }

    .shop {
        display: inline-block;
        vertical-align: top;
    }

    .slider-next-img {
        position: relative;
        width: 18px;
        top: calc(50% - 18px);
        left: 92vw;
    }

    .my-location {
        right: 10px;
        top: 52px;
    }
}
