.shop-detail-wrapper {
    width: 50%;
    min-width: 480px;
    margin: 0 auto;
}

.shop-detail-scroll > h2 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin: 20px 0 5px;
}

.shop-detail-scroll > hr {
    margin: 0 auto 5px;
    width: 40%;
    border: none;
    height: 2px;
    background-color: #4F3F3F;
}

.shop-detail-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

.module {
    border: 1px solid #ccc;
}

.module > ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    list-style: none outside none;
}

.module > ul > li {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #4F3F3F;
}

.module > ul > li:nth-last-child(1) {
    border-bottom: none;
}

.module > ul > li > span {
    float: right;
}

.checkbox {
    display: none;
}

.toggle-box {
    width: calc(100% - 20px);
    margin: 0 auto;
}

.toggle-label {
    display: block;
    cursor: pointer;
    padding: 12px 17px;
    color: whitesmoke;
    background-color: #4F3F3F;
    font-weight: 600;
}

.toggle-label:hover {
    background-color: #554444;
}

.toggle-label:after {
    content: '˅';
    float: right;
    line-height: 20px;
    right: 0;
}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: ease 0.4s;
}

.checkbox:checked ~ .toggle-content {
    max-height: 1000px;
}

.checkbox:checked + .toggle-label:after {
    content: "˄";
}

.shop-detail-info {
    width: calc(100% - 20px);
    height: 100px;
    margin: 10px auto 0;
}

.shop-detail {
    width: calc((100% - 60px) / 4);
    height: 100px;
    float: left;
    margin: 0 10px;
    text-align: center;
    padding: 27px 5px 5px;
}

.shop-detail:nth-child(1) {
    margin-left: 0;
}

.shop-detail:nth-last-child(1) {
    margin-right: 0;
}

.shop-detail > span:nth-of-type(2) {
    font-size: 150%;
}

.shop-detail.shop-star {
    padding-top: 15px;
}

.shop-star > span {
    font-size: 300%;
    color: #2abfba;
}

.shop-phone {
    margin: 10px auto;
    text-align: center;
    color: #aaaaaa;
}

.shop-link-btn {
    color: whitesmoke;
    font-size: 16px;
    /*padding: 17px;*/
    height: 50px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #3b342b;
}

@media (max-width: 480px) {
    .shop-detail-wrapper {
        width: 100%;
        margin: 0 auto;
        min-width: 0;
    }

    .shop-detail-scroll > h2 {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        margin: 5px 0;
    }

    .shop-detail-scroll {
        height: 100%;
        overflow-y: scroll;
        width: 100%
    }

    .shop-detail-name{
        height: 50px;
        text-align: center;
        vertical-align: middle;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .shop-detail-name > h2 {
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 0 0;
        padding-top: 15px;
    }

    .close{
        position: absolute;
        left: 10px;

    }

    .shop-head{
        height: 20px;
        border-top: solid 1px #848484;
        margin: 0 0 0 0;
        padding-top: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .shop-head-left {
        margin-left: 10px;
    }
}